<div class="navbar navbar-expand-sm navbar-light navbar">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h2>HENRY JAMES BLACKBURN</h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "About", "#about", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "#footer", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
