<div class="container-grids">
  <div class="item-header navbar"><h2>HENRY JAMES BLACKBURN</h2></div>
  <div class="item-main"><%= image_tag 'avatar.jpg', class:'avatar-large' %></div>
  <div class="item-about">
    <h2 class="about-me">About me...</h2>
      <p>I have a history of working in finance and hospitality, but after doing a course at Le Wagon I am now looking for a job in the tech industry. I have spent most of my life working from the Isle of Man, but I have recently moved to Brussels and I am looking forward to making the most of the opportunities available here.</p>
  </div>
  <div class="item-projects">
    <h2>Projects...</h2>
      <div> <%= image_tag 'goodtermshome.jpg', class:"project-card", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" %>
        Good Terms
      </div>
  </div>
  <div class="item-footer">
    <h2>Follow Me</h2>
      <ul>
        <li>
          <a href="https://www.facebook.com/henryjamesblackburn" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/henry-blackburn-b72454159/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/HenryJames_B" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
  </div>
</div>
