<div class="container-grids">
  <div class="item-header navbar"><h2>HENRY JAMES BLACKBURN</h2></div>
  <div class="item-main"><%= image_tag 'avatar.jpg', class:'avatar-large' %></div>
  <div class="item-about">
    <h2 class="about-me">About me...</h2>
      <p>I have a history of working in finance and hospitality, but after doing a course at Le Wagon I am now looking for a job in the tech industry. I have spent most of my life working from the Isle of Man, but I have recently moved to Brussels and I am looking forward to making the most of the opportunities available here.</p>
  </div>
  <div class="item-projects">
    <h2>Projects...</h2>
      <div class="project-cards" data-controller='modal'>
        <div class="project-card"> <button id="btn" data-action='click->modal#launchProject'><%= image_tag 'goodtermshome.jpg', style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" %></button>
          Good Terms
        </div>
        <div id="goodTermsModal" class="modal" data-modal-target="project">
          <div class="modal-content">
            <span class="close" data-action='click->modal#close'>&times;</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TtD9ku9WZX8?start=1180" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Good Terms - A website to help people who like to lend their belongings. Made in collaboration as part of the Le Wagon course. This video was taken on the final day of the project. The link to the site can be found <a href="http://www.goodterms.fun" target="_blank">here</a></p>
          </div>
        </div>

        <div class="project-card"> <%= image_tag 'default-product-image.png', style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" %>
          Coming Soon...
        </div>
      </div>
  </div>
  <div class="item-footer">
    <h2>Follow Me</h2>
      <ul>
        <li>
          <a href="https://www.facebook.com/henryjamesblackburn" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/henry-blackburn-b72454159/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://www.github.com/Heno08" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
  </div>
</div>
