  <div class='container text-align-center'>
    <div class='card'>
      <h1>Henry Blackburn</h1>
        <%= image_tag 'profile_pic.jpg', class: 'avatar', style: 'width: 100px;', alt: 'Profile Picture' %>
          <h2>Programmer 💻</h2>
            <p>Le Wagon student from the UK, studying in Brussels</p>
              <a href="https://www.lewagon.com" target="_blank">
              Le Wagon
              </a>
    </div>
    <div class='card' id='footer'>
      <h2>Follow Me</h2>
          <ul>
            <li>
              <a href="https://www.facebook.com/henryjamesblackburn" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/henry-blackburn-b72454159/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/HenryJames_B" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
    </div>
  </div>
