@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

h2 {
  font-family: 'Smooch Sans', sans-serif;
}
